<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mine</key>
	<array>
		<dict>
			<key>icon</key>
			<string>mine_download@2x~iphone</string>
			<key>title</key>
			<string>离线缓存</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_history@2x~iphone</string>
			<key>title</key>
			<string>历史记录</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_favourite@2x~iphone</string>
			<key>title</key>
			<string>我的收藏</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_follow@2x~iphone</string>
			<key>title</key>
			<string>我的关注</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_pocketcenter@2x~iphone</string>
			<key>title</key>
			<string>我的钱包</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_gamecenter@2x~iphone</string>
			<key>title</key>
			<string>游戏中心</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_theme@2x~iphone</string>
			<key>title</key>
			<string>主题选择</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>message</key>
	<array>
		<dict>
			<key>icon</key>
			<string>mine_answerMessage@2x~iphone</string>
			<key>title</key>
			<string>回复我的</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_shakeMe@2x~iphone</string>
			<key>title</key>
			<string>@我</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_gotPrise@2x~iphone</string>
			<key>title</key>
			<string>收到的赞</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_privateMessage@2x~iphone</string>
			<key>title</key>
			<string>私信</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_systemNotification@2x~iphone</string>
			<key>title</key>
			<string>系统通知</string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string></string>
			<key>title</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
