{
    "splash1x": {
        "config_name" : "config",
        "install_package_url" : "http://app.bilibili.com/api/review/ios/ver.ios.@1x.phone.ver",
        "install_package_sandbox_path" : "splash_init"
    },
    "splash2x": {
        "config_name" : "config",
        "install_package_url" : "http://app.bilibili.com/api/review/ios/ver.ios.@2x.phone.ver",
        "install_package_sandbox_path" : "splash_init"

    },
    "splash3x": {
        "config_name" : "config",
        "install_package_url" : "http://app.bilibili.com/api/review/ios/ver.ios.@3x.phone.ver",
        "install_package_sandbox_path" : "splash_init"

    },
    "home" : {
        "config_name" : "config",
        "install_package_url" : "http://app.bilibili.com/x/show?access_key=58c1e5de89629c1f5bf83dff1492feb1&actionKey=appkey&appkey=27eb53fc9058f8c3&build=3075&channel=appstore&device=phone&plat=1&platform=ios&sign=53884192d0546491416310d672f8e59a&ts=1459418468",
        "install_package_sandbox_path" : "home_init"
    },
    "lua" : {
        "config_name" : "config",
        "install_package_url" : "http://app.bilibili.com/mdata/ios3/ios3.ver",
        "install_package_sandbox_path" : "lua_init"
    },
    "search" : {
        "config_name" : "config",
        "install_package_url" : "http://app.bilibili.com/api/review/ios/ver.ios.@3x.phone.ver",
        "install_package_sandbox_path" : "search_init"
    }
}